@import './nav.css';
@import './video-description.css';
@import './channel-info.css';
@import './comment-info-container.css';
@import './user-comment-cont.css';
@import './rec-video-bar.css';
@import './mediaquery.css';

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(24,24,24);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Shorthand styles */

.circle {
    border-radius: 50%;
}

.column {
    flex-direction: column;
}

.hoverable {
    cursor: pointer;
}

.flexbox {
    display: flex;
}

.centered {
    align-items: center;
}

.button-size {
    width: 36px;
    height: 36px;
}

.icon-size {
    width: 24px;
    height: 24px;
}

.small-icon {
    width: 20px;
    height: 20px;
}

.gray-text {
    color: rgb(170,170,170);
}

.blue-text {
    color: rgb(62, 166, 255);
}

/* Main Body Containers */

.primary {
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: 24px;
}

.main-container{
    width: 80%;
}

.container-left {
    color: rgb(255,255,255);
    margin-left: 24px;
    width: 50vw;
}

.container-right {
    margin-left: 24px;
}
